[run]
branch = true
concurrency = thread

# This will include all packages and also show non imported modules in coverage report.
# Don't set package names here because the generated xml won't be processed by SonarQube.
source = .
# If we want to omit some packages or modules insert a new line for each one.
# Remember to add them also to sonar-project.properties on sonar.exclusions or test.exclusions.
# omit =

[report]
skip_covered = True
exclude_also =
    if TYPE_CHECKING:

[xml]
output = coverage-reports/coverage-report.xml
