interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - DUMMY-KEY
    method: GET
    uri: https://api.bitpanda.com/v1/wallets
  response:
    body:
      string: '{"data":[{"type":"wallet","attributes":{"cryptocoin_id":"1","cryptocoin_symbol":"BTC","balance":"0.00000000","is_default":true,"name":"BTC
        Wallet","pending_transactions_count":0,"deleted":false,"is_index":false},"id":"5827c8cb-1eb1-40f0-a7c5-3f1d92062997"},{"type":"wallet","attributes":{"cryptocoin_id":"3","cryptocoin_symbol":"LTC","balance":"0.00121395","is_default":true,"name":"LTC
        Wallet","pending_transactions_count":0,"deleted":false,"is_index":false},"id":"10fa22aa-0a1d-4405-878b-76e94eb83f1d"},{"type":"wallet","attributes":{"cryptocoin_id":"5","cryptocoin_symbol":"ETH","balance":"0.00000000","is_default":true,"name":"ETH
        Wallet","pending_transactions_count":0,"deleted":false,"is_index":[...]
