interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - DUMMY-KEY
    method: GET
    uri: https://api.bitpanda.com/v1/trades
  response:
    body:
      string: '{"data":[{"type":"trade","attributes":{"status":"finished","type":"sell","cryptocoin_id":"26","cryptocoin_symbol":"WAVES","fiat_id":"4","amount_fiat":"2.00","amount_cryptocoin":"2.70196457","fiat_to_eur_rate":"1.14666637","wallet_id":"abdbfb11-0edd-4013-8edb-e160201a6d32","fiat_wallet_id":"6a93c731-6885-44a5-a29b-ef54a3aec065","time":{"date_iso8601":"2025-09-23T10:23:43+02:00","unix":"1758615823"},"price":"0.74","is_swap":false,"is_savings":false,"tags":[],"bfc_used":false,"is_card":false,"fee":{"type":"fee","attributes":{"fee_percentage":null,"fee_amount_in_fiat":"0.00000000"}},"is_fee_transparent":true},"id":"1f098569-bdf2-6fb0-0b22-3654326e33ed"},{"type":"trade","attributes":{"status":"finished","type":"buy","cryptocoin_id":"1","cryptocoin_symbol":"BTC","fiat_id":"1","amount_fiat":"80.00","amount_cryptocoin":"0.00121395","fiat_to_eur_rate":"1.00000000","wallet_id":"5827c8cb-1eb1-40f0-a7c5-3f1d92062997","fiat_wallet_id":"d461aba3-65a6-413b-abb8-bb6ea833435b","time":{"date_iso8601":"2024-03-12T11:56:48+01:00","unix":"1710241008"},"price":"65900.13","is_swap":false,"is_savings":false,"tags":[],"bfc_us[...]
