interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - DUMMY-KEY
    method: GET
    uri: https://api.bitpanda.com/v1/fiatwallets
  response:
    body:
      string: '{"data":[{"type":"fiat_wallet","attributes":{"fiat_id":"17","fiat_symbol":"BGN","balance":"0.00","name":"BGN
        Wallet","pending_transactions_count":0},"id":"1f07770a-c64d-610c-bcda-114409ffae1d"},{"type":"fiat_wallet","attributes":{"fiat_id":"3","fiat_symbol":"CHF","balance":"0.00","name":"CHF
        Wallet","pending_transactions_count":0},"id":"1891849a-3f44-4edf-b427-b10009c0a907"},{"type":"fiat_wallet","attributes":{"fiat_id":"11","fiat_symbol":"CZK","balance":"0.00","name":"CZK
        Wallet","pending_transactions_count":0},"id":"74a04106-b12c-4750-aa92-e585e31d2228"},{"type":"fiat_wallet","attributes":{"fiat_id":"14","fiat_symbol":"DKK","bal[...]
