interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - DUMMY-KEY
    method: GET
    uri: https://developer.bitpanda.com/v1/transactions?flow=INCOMING&page_size=5
  response:
    body:
      string: '{"start_cursor":"AAAAGDIwMjUtMDktMjNUMDg6MjM6NDQuMzAxWgAAAAEx","end_cursor":"AAAAGDIwMjQtMDMtMTJUMTA6NTY6NDguMzM4WgAAAAEy","has_previous_page":false,"has_next_page":true,"page_size":"5","data":[{"transaction_id":"85c1b171-a8e7-4ddd-8c12-6805f9a7cac8","operation_id":"85c1b171-a8e7-4ddd-8c12-6805f9a7cac8","asset_id":"ea96d330-edee-11eb-9bf0-06502b1fe55d","account_id":"c37d5fc4-d4e2-4753-b3c7-46a2ff450b84","wallet_id":"6a93c731-6885-44a5-a29b-ef54a3aec065","asset_amount":"0.55","fee_amount":"0","operation_type":"refund","flow":"incoming","credited_at":"2025-09-23T08:23:44.301Z","compensates":"c49975ab-df28-71cf-ae9a-1e07b8111b4a","order_id":"0"},{"transaction_id":"c49975ab-df28-71cf-ae9a-1e07b811e4b5","operation_id":"c49975ab-df28-71cf-ae9a-1e07b811e4b5","asset_id":"ea96d330-edee-11eb-9bf0-06502b1fe55d","account_id":"c37d5fc4-d4e2-4753-b3c7-46a2ff450b84","wallet_id":"6a93c731-6885-44a5-a29b-ef54a3aec065","asset_amount":"2","fee_amount":"0","operation_type":"sell","flow":"incoming","credited_at":"2025-09-23T08:23:43.691Z","trade_id":"1f098569-bdf2-6fb0-0b22-3654326e33ed","order_id":"0"},{"transaction_id":"0f40afb5-e46f-4c02-b061-e4252990566c","operation_id":"fc1f9163-5c7e-456f-8e86-a48f27c0cf18","asset_id":"ea895d94-edee-11eb-9bf0-06502b1fe55d","account_id":"c37d5fc4-d4e2-4753-b3c7-46a2ff450b84","wallet_id":"10fa22aa-0a1d-4405-878b-76e94eb83f1d","asset_amount":"0.00121395","fee_amount":"0","operation_type":"merger_crypto","flow":"incoming","credited_at":"2025-08-27T16:32:49.750Z","order_id":"0"},{"transaction_id":"6037b545-be87-40c7-acd5-48a68dcf01f6","operation_id":"c5f78df4-6006-43cd-8bdf-e4193f897937","asset_id":"1f00956d-ec3b-68da-8f09-19d64314ffa8","account_id":"c37d5fc4-d4e2-4753-b3c7-46a2ff450b84","wallet_id":"d2c8b985-883f-40b8-b233-4b41e92b672f","asset_amount":"39.6550544","fee_amount":"0","operation_type":"merger_crypto","flow":"incoming","credited_at":"2025-05-02T13:03:37.512Z","order_id":"0"},{"transaction_id":"1eee05f3-90aa-655a-910c-dbadc7a6cbeb","operation_id":"1eee05f3-90aa-67bc-9658-5f424bc940fa","asset_id":"ea895436-edee-11eb-9bf0-06502b1fe55d","account_id":"c37d5fc4-d4e2-4753-b3c7-46a2ff450b84","wallet_id":"5827c8cb-1eb1-40f0-a7c5-3f1d92062997","asset_amount":"0.00121395","fee_amount":"0","operation_type":"buy","flow":"incoming","credited_at":"2024-03-12T10:56:48.338Z","trade_id":"1eee05f3-83a1-66b0-4b51-85f97bbcadaf","order_id":"0"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
