interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - DUMMY-KEY
    method: GET
    uri: https://developer.bitpanda.com/v1/wallets/?page_size=2
  response:
    body:
      string: '{"start_cursor":"MTBmYTIyYWEtMGExZC00NDA1LTg3OGItNzZlOTRlYjgzZjFk","end_cursor":"MWVkNjQzYzYtMDhlMi02MjAwLThmZDMtODIxZDIwMzdhMGE4","has_previous_page":false,"has_next_page":true,"page_size":"2","data":[{"wallet_id":"10fa22aa-0a1d-4405-878b-76e94eb83f1d","asset_id":"ea895d94-edee-11eb-9bf0-06502b1fe55d","last_credited_at":"2025-08-27T16:32:49.750Z","balance":"0.00121395"},{"wallet_id":"1ed643c6-08e2-6200-8fd3-821d2037a0a8","asset_id":"ea897473-edee-11eb-9bf0-06502b1fe55d","last_credited_at":"2025-05-02T13:03:37.512Z","balance":"0"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      x-api-key:
      - DUMMY-KEY
    method: GET
    uri: https://developer.bitpanda.com/v1/wallets/?after=MWVkNjQzYzYtMDhlMi02MjAwLThmZDMtODIxZDIwMzdhMGE4&page_size=2
  response:
    body:
      string: '{"start_cursor":"NDMzZWQ2ODYtMjMxYy00YmI0LWI5NGQtNTU1ZGE3OGQ2YTAw","end_cursor":"NTgyN2M4Y2ItMWViMS00MGYwLWE3YzUtM2YxZDkyMDYyOTk3","has_previous_page":true,"has_next_page":true,"page_size":"2","data":[{"wallet_id":"433ed686-231c-4bb4-b94d-555da78d6a00","asset_id":"ea8c905c-edee-11eb-9bf0-06502b1fe55d","last_credited_at":"2024-01-16T09:24:07.361Z","balance":"0"},{"wallet_id":"5827c8cb-1eb1-40f0-a7c5-3f1d92062997","asset_id":"ea895436-edee-11eb-9bf0-06502b1fe55d","last_credited_at":"2025-08-27T16:32:49.750Z","balance":"0"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
