interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - DUMMY-KEY
    method: GET
    uri: https://developer.bitpanda.com/v1/wallets/?page_size=10
  response:
    body:
      string: '{"start_cursor":"YWJkYmZiMTEtMGVkZC00MDEzLThlZGItZTE2MDIwMWE2ZDMy","end_cursor":"NmE5M2M3MzEtNjg4NS00NGE1LWEyOWItZWY1NGEzYWVjMDY1","has_previous_page":false,"has_next_page":false,"page_size":"10","data":[{"wallet_id":"abdbfb11-0edd-4013-8edb-e160201a6d32","asset_id":"ea899d79-edee-11eb-9bf0-06502b1fe55d","last_credited_at":"2025-09-23T08:23:43.691Z","balance":"0"},{"wallet_id":"cc206c29-cb19-4601-8277-79153002e01d","asset_id":"ea8cb07f-edee-11eb-9bf0-06502b1fe55d","last_credited_at":"2024-03-12T10:55:53.145Z","balance":"3.46776"},{"wallet_id":"d2c8b985-883f-40b8-b233-4b41e92b672f","asset_id":"1f00956d-ec3b-68da-8f09-19d64314ffa8","last_credited_at":"2025-05-02T13:03:37.512Z","balance":"39.6550544"},{"wallet_id":"d461aba3-65a6-413b-abb8-bb6ea833435b","asset_id":"ea96ccef-edee-11eb-9bf0-06502b1fe55d","last_credited_at":"2024-03-12T10:56:48.338Z","balance":"0"},{"wallet_id":"10fa22aa-0a1d-4405-878b-76e94eb83f1d","asset_id":"ea895d94-edee-11eb-9bf0-06502b1fe55d","last_credited_at":"2025-08-27T16:32:49.750Z","balance":"0.00121395"},{"wallet_id":"1ed643c6-08e2-6200-8fd3-821d2037a0a8","asset_id":"ea897473-edee-11eb-9bf0-06502b1fe55d","last_credited_at":"2025-05-02T13:03:37.512Z","balance":"0"},{"wallet_id":"433ed686-231c-4bb4-b94d-555da78d6a00","asset_id":"ea8c905c-edee-11eb-9bf0-06502b1fe55d","last_credited_at":"2024-01-16T09:24:07.361Z","balance":"0"},{"wallet_id":"5827c8cb-1eb1-40f0-a7c5-3f1d92062997","asset_id":"ea895436-edee-11eb-9bf0-06502b1fe55d","last_credited_at":"2025-08-27T16:32:49.750Z","balance":"0"},{"wallet_id":"6a93c731-6885-44a5-a29b-ef54a3aec065","asset_id":"ea96d330-edee-11eb-9bf0-06502b1fe55d","last_credited_at":"2025-09-23T08:23:44.301Z","balance":"2"}]}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
