interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - DUMMY-KEY
    method: GET
    uri: https://api.bitpanda.com/v1/wallets/transactions
  response:
    body:
      string: '{"data":[{"type":"wallet_transaction","attributes":{"amount":"2.70196457","recipient":"","time":{"date_iso8601":"2025-09-23T10:23:44+02:00","unix":"1758615824"},"confirmations":0,"in_or_out":"outgoing","type":"sell","status":"finished","amount_eur":"2.29","amount_eur_incl_fee":"2.28","wallet_id":"abdbfb11-0edd-4013-8edb-e160201a6d32","confirmation_by":"not_required","confirmed":false,"cryptocoin_id":"26","cryptocoin_symbol":"WAVES","trade":{"type":"trade","attributes":{"status":"finished","type":"sell","cryptocoin_id":"26","cryptocoin_symbol":"WAVES","fiat_id":"4","amount_fiat":"2.00","amount_cryptocoin":"2.70196457","fiat_to_eur_rate":"1.14666637","wallet_id":"abdbfb11-0edd-4013-8edb-e160201a6d32","fiat_wallet_id":"6a93c731-6885-44a5-a29b-ef54a3aec065","time":{"date_iso8601":"2025-09-23T10:23:43+02:00","unix":"1758615823"},"price":"0.74","is_swap":false,"is_savings":false,"tags":[],"bfc_used":false,"is_card":false,"tax":{"type":"tax","attributes":{"amount_fiat":"0.55","fiat_id":4,"fiat_amount_after_tax":"1.45"}},"fee":{"type":"fee","attributes":{"fee_percentage":0,"fee_amount_in_fiat":"0.00000000"}},"is_fee_transparent":true},"id":"1f098569-bdf2-6fb0-0b22-3654326e33ed"},"last_changed":{"date_iso8601":"2025-09-23T10:23:44+02:00","unix":"1758615824"},"fee":"0.00000000","current_fiat_id":"1","current_fiat_amount":"2.29","is_savings":false,"is_metal_storage_fee":false,"tags":[],"public_status":"finished","is_bfc":false,"is_card":false},"id":"c49975ab-df28-71cf-ae9a-1e07b7b8d712"},{"type":"wallet_transaction","attributes":{"amount":"0.00121395","recipient":"LTC
        Wallet","time":{"date_iso8601":"2025-08-27T18:32:50+02:00","unix":"1756312370"},"confirmations":0,"in_or_out":"incoming","type":"transfer","status":"finished","amount_eur":"0.11","amount_eur_incl_fee":"0.10","related_wallet_transaction_id":"fc1f9163-5c7e-456f-8e86-a48f27c0cf18","related_wallet_id":"5827c8cb-1eb1-40f0-a7c5-3f1d92062997","wallet_id":"10fa22aa-0a1d-4405-878b-76e94eb83f1d","confirmation_by":"not_required","confirmed":false,"cryptocoin_id":"3","cryptocoin_symbol":"LTC","last_changed":{"date_iso8601":"2025-08-27T18:32:50+02:00","unix":"1756312370"},"fee":"0.00000000","current_fiat_id":"1","current_fiat_amount":"0.11","is_savings":false,"from":"BTC
        Wallet","is_metal_storage_fee":false,"tags":[{"type":"tag","attributes":{"short_name":"merger_crypto","name":"Merger
        Crypto"}}],"public_status":"finished","is_bfc":false,"is_card":false},"id":"0f40afb5-e46f-4c02-b061-e4252990566c"},{"type":"wallet_transaction","attributes":{"amount":"0.00121395","recipient":"LTC
        Wallet","time":{"date_iso8601":"2025-08-27T18:32:50+02:00","unix":"1756312370"},"confirmations":0,"in_or_out":"outgoing","type":"transfer","status":"finished","amount_eur":"116.77","amount_eur_incl_fee":"116.76","related_wallet_transaction_id":"0f40afb5-e46f-4c02-b061-e425299056[...]
