interactions:
- request:
    body: ''
    headers:
      x-api-key:
      - DUMMY-KEY
    method: GET
    uri: https://api.bitpanda.com/v1/fiatwallets/transactions
  response:
    body:
      string: '{"data":[{"type":"fiat_wallet_transaction","attributes":{"fiat_wallet_id":"6a93c731-6885-44a5-a29b-ef54a3aec065","user_id":"c37d5fc4-d4e2-4753-b3c7-46a2ff450b84","fiat_id":"4","amount":"0.55","fee":"0.00","to_eur_rate":"0.00000000","time":{"date_iso8601":"2025-09-23T10:23:44+02:00","unix":"1758615824"},"in_or_out":"incoming","type":"refund","status":"finished","confirmation_by":"not_required","confirmed":true,"requires_2fa_approval":false,"related_fiat_wallet_transaction_id":"c49975ab-df28-71cf-ae9a-1e07b811e4b5","is_savings":false,"recipient":"GBP
        Wallet","from":"Bitpanda","last_changed":{"date_iso8601":"2025-09-23T10:23:44+02:00","unix":"1758615824"},"tags":[{"type":"tag","attributes":{"short_name":"tax_withholding","name":"Tax
        Withholding"}}],"public_status":"finished","is_index":false,"is_card":false,"is_card_order_charge":false,"is_fee_transparent":false},"id":"85c1b171-a8e7-4ddd-8c12-6805f9a7cac8"},{"type":"fiat_wallet_transaction","attributes":{"fiat_wallet_id":"6a93c731-6885-44a5-a29b-ef54a3aec065","user_id":"c37d5fc4-d4e2-4753-b3c7-46a2ff450b84","fiat_id":"4","trade":{"type":"trade","attributes":{"status":"finished","type":"sell","cryptocoin_id":"26","cryptocoin_symbol":"WAVES","fiat_id":"4","amount_fiat":"2.00","amount_cryptocoin":"2.70196457","fiat_to_eur_rate":"1.14666637","wallet_id":"abdbfb11-0edd-4013-8edb-e160201a6d32","fiat_wallet_id":"6a93c731-6885-44a5-a29b-ef54a3aec065","time":{"date_iso8601":"2025-09-23T10:23:43+02:00","unix":"1758615823"},"price":"0.74","is_swap":false,"is_savings":false,"tags":[],"bfc_used":false,"is_card":false,"tax":{"type":"tax","attributes":{"amount_fiat":"0.55","fiat_id":4,"fiat_amount_after_tax":"1.45"}},"fee":{"type":"fee","attributes":{"fee_percentage":0,"fee_amount_in_fiat":"0.00000000"}},"is_fee_transparent":true},"id":"1f098569-bdf2-6fb0-0b22-3654326e33ed"},"amount":"1.45","fee":"0.00","to_eur_rate":"1.14500000","time":{"date_iso8601":"2025-09-23T10:23:44+02:00","unix":"1758615824"},"in_or_out":"incoming","type":"sell","status":"finished","confirmation_by":"not_required","confirmed":true,"requires_2fa_approval":false,"related_fiat_wallet_transaction_id":"85c1b171-a8e7-4ddd-8c12-6805f9a7cac8","is_savings":false,"last_changed":{"date_iso8601":"2025-09-23T10:23:44+0[...]
