name: Code quality

on:
  push:
    branches: [ main ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ main ]

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install poetry==1.8.4

    - name: Cache the venv
      id: cached-poetry-dependencies
      uses: actions/cache@v4
      with:
        path: .venv
        key: ${{ runner.os }}-venv-${{ hashFiles('**/poetry.lock') }}

    - name: Install dependencies
      run: |
        export POETRY_VIRTUALENVS_CREATE=1
        export POETRY_VIRTUALENVS_IN_PROJECT=1
        poetry install --no-interaction --no-ansi --no-root
      if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'

    - name: Run ruff, mypy and other pre-commit hooks
      run: |
        poetry run pre-commit run --all
      if: ${{ always() }}

    - name: Test with pytest
      run: |
        mv .env.example .env
        poetry run pytest --cov-report xml --junitxml=xunit-reports/junit-report.xml

    - uses: actions/cache@v4
      with:
        path: ~/.cache/pre-commit
        key: ${{ runner.os }}-pre-commit-${{ hashFiles('**/.pre-commit-config.yaml') }}
        restore-keys: |
          ${{ runner.os }}-pre-commit-
